@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <br />
    <p>I'm just a simple and humble embodiment of a once existed programer.</p>
    <p>Everything you believe is here or has been done is just a figment of your imagination.</p>
</div>