@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <br />
    <p>If you wish to contact me, you can find me here, below:</p>
    <br />
    <ul>
        <li>Address:  Pacific lodge · Medina, Washington, United States</li>
        <li>Mail to: PO Box 23350, Seattle, WA, 98102.</li>
        <li>Phone number: 206-709-3100</li>
    </ul>
    <br />
    <p>In case of any concerns please, do not hesitate to contact me!</p>
</div>