@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Welcome to my week 22 assignment page.</h3>
    <br />
    <p>Feel free to brows in the pages abowe!</p>
</div>
