@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">My Projects</h1>
    
    <a href="https://github.com/ThomasBuday/w22-Assignment">Check out my project at GitHub.com!</a>
</div>